<!DOCTYPE html>
<html lang="{{app.request.locale}}">
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Panterest
			{% endblock %}
		</title>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">

		{% block stylesheets %}
			<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
            <link href="{{ asset ('css/app.css') }}" rel="stylesheet"/>

		{% endblock %}

	</head>
	<body>
		{{ include('layouts/partials/flashes_message.html.twig')}}
		{{ include("layouts/partials/_nav.html.twig") }}
		<main role="main" class="container">
			{% block body %}{% endblock %}

		</main>

		{% block footer %}
			{{ include('layouts/partials/_footer.html.twig') }}
		{% endblock %}
		{% block javascripts %}
			<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
			<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
		{% endblock %}
	</body>
</html>
